<a href="/">
  <button class="btn btn-primary btn-lg">Select Players</button>
</a>
<a href="/viewcomparisons">
  <button class="btn btn-primary btn-lg">View Player Comparisons</button>
</a>
<a href="/viewFavorites">
  <button class="btn btn-primary btn-lg">Select Favorites</button>
</a>
<a href="/viewFavoritesToDelete">
  <button class="btn btn-primary btn-lg">Delete Favorites</button>
</a>

<a href="/viewTeamComparisons">
  <button class="btn btn-primary btn-lg">View Team Comparisons</button>
</a>

{{#each comparisons}}
  <div class="comparison">
    <h1>Comparison {{@index}}</h1>
    <h2>{{this.p1_first_name}} {{this.p1_last_name}}</h2>
    <p>{{this.player1_points}} average points</p>
    <h2>{{this.p2_first_name}} {{this.p2_last_name}}</h2>
    <p>{{this.player2_points}} average points</p>

    <h2>Winner: {{this.winner}}</h2>
  </div>
{{/each}}