{{#each comparisons}}
  <div class="comparison">
    <h1>{{this.p1.first_name}} {{this.p1.last_name}}</h1>
    <p>{{this.pc.player1_points}}</p>
    <h1>{{this.p2.first_name}} {{this.p2.last_name}}</h1>
    <p>{{this.pc.player2_points}}</p>

    <h1>{{this.winner}}</h1>
  </div>
{{/each}}