<a href="/">
    <button class="btn btn-primary btn-lg">Select Players</button>
 </a>
 <a href="/viewcomparisons">
    <button class="btn btn-primary btn-lg">View Player Comparisons</button>
 </a>
 <a href="/viewFavorites">
    <button class="btn btn-primary btn-lg">Select Favorites</button>
 </a>
 <a href="/viewFavoritesToDelete">
    <button class="btn btn-primary btn-lg">Delete Favorites</button>
 </a>

 <a href="/viewTeamComparisons">
    <button class="btn btn-primary btn-lg">View Team Comparisons</button>
 </a>

{{#each teams}}
  <div class="comparison">
    <h1>Comparison {{@index}}</h1>
    <h2>{{this.team1name}}</h2>
    <p>Team 1 average winning percentage: {{this.team1pct}}%</p>
    <h2> {{this.team2name}}</h2>
    <p>Team 1 average winning percentage: {{this.team2pct}}%</p>

    <h2>Winner: {{this.winner}}</h2>
  </div>
{{/each}}