
{{#each comparisons}}
<div class="comparison">
    <h1>{{this.team1_id}}</h1>
    <p>{{this.team1_win_pct}}</p>
    <h1>{{this.team2_id}}</h1>
    <p>{{this.team2_win_pct}}</p>

    <h1>{{this.winner}}</h1>
</div>
{{/each}}