<a href="/">
    <button class="btn btn-primary btn-lg">Select Players</button>
 </a>
 <a href="/viewcomparisons">
    <button class="btn btn-primary btn-lg">View Player Comparisons</button>
 </a>
 <a href="/viewFavorites">
    <button class="btn btn-primary btn-lg">Select Favorites</button>
 </a>
 <a href="/viewFavoritesToDelete">
    <button class="btn btn-primary btn-lg">Delete Favorites</button>
 </a>

 <a href="/viewTeamComparisons">
    <button class="btn btn-primary btn-lg">View Team Comparisons</button>
 </a>

 
{{#each comparisons}}
  <div class="comparison">
    <h1>Comparison {{@index}}</h1>
    <h2>{{this.p1first_name}} {{this.p1last_name}}</h2>
    <p>{{this.p1points}} average points</p>
    <h2>{{this.p2first_name}} {{this.p2last_name}}</h2>
    <p>{{this.p2points}} average points</p>

    <h2>Winner: {{this.winner}}</h2>
  </div>
{{/each}}
